name: Taskwise CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./taskwise

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Temporarily installing directly since you don't have a requirements.txt yet
        pip install flask flask-sqlalchemy
        
    - name: Run Tests
      run: |
        python -m unittest discover tests
